# File aliases
alias -s md="glow"
alias -s json="jless"
alias -s yaml="jless"
alias -s yml="jless"
alias -s git="clone"
alias -s png="kitty +kitten icat"
alias -s jpg="kitty +kitten icat"
alias -s jpeg="kitty +kitten icat"
alias -s gif="kitty +kitten icat"
alias -s webp="kitty +kitten icat"
alias -s bmp="kitty +kitten icat"
alias -s svg="kitty +kitten icat"

# https://github.com/byrongibson/dotfiles/blob/master/.aliases
alias opencode='BUN_TMPDIR=~/.opencode/tmp opencode'
alias btca='BUN_TMPDIR=~/.btca/tmp btca'
alias zed='__NV_PRIME_RENDER_OFFLOAD=1 __GLX_VENDOR_LIBRARY_NAME=nvidia zed'
# bindkey -s '^A' 'term-cheat --filter^M'
alias c="br"
alias icat="kitty +kitten icat"

alias ip="ip -c -h a"
alias ipl='hostname -I | awk '\''{print $1}'\'
# alias cat="batcat"
alias top="htop"
alias btop="bpytop"
alias o='xdg-open'
alias cx='chmod +x'
alias du='du -sh'
alias df='duf'
alias grep='grep --color=always'
alias mkdir='mkdir -p'
# alias fd='fdfind'
alias s='./start'
alias na='nautilus `pwd`'
# alias k='kubectl'
# alias koi='kubectl config use-context arn:aws:eks:eu-central-1:917323733352:cluster/node-orchestrator; aws-vault exec integration-orchestrator-1-dev-admin -- kubectl -n apheris'
alias 'gcn!'='git commit -v --no-edit --amend "-S"'
alias p="pnpm"
alias nodei='node --inspect --inspect-brk'
alias t="task"
alias grm="git rebase main"
alias grmp="git rebase main;gpf"
alias ghpc="gh pr create"
alias ghps="gh pr status"

# File folder navigation
alias ls="eza"
alias ll="ls -l"
alias la="ls -la"
alias llt="ll -T"
alias lat="la -T"
alias lt="ll -s modified"
alias j="z"
# Now using eza this was for standard ls
# alias lla='ls -lFh --group-directories-first'
# alias ll='lx --long'
# alias llt='ll --tree'
# alias lt='ll --sort=mod $@'
# alias lz='ll --sort=size $@'
# alias l='/home/user/bin/exa'
# alias lla='ls -alF --group-directories-first --color=always'
# alias lll='ls -alF --group-directories-first --color=always|more'
